.logo{
  margin: 0.313em;
}

body{
    background-color: #252525;
}

#my-navbar {
    background-color: #5c5c5c !important;

  }

.navbar-nav .nav-link{
    color: #ffffff;
  }

.container-fluid .navbar-brand{
    color:#ffffff;
}

.navbar{
    background-color: #5c5c5c;
}

.footer-nav{
  display: flex;
  justify-content: center;
  background-color: #5c5c5c;
}

.nav-link:hover {
  background-color: #616161;
  color: #79baff;
}

.card {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color:#dfdfdf;

}



 li{
  color: #000000;
  list-style-type: none;
}

