/* navbar */
.logo {
  margin: 0.313em;
}

body {
  background-color: #252525;
}

#my-navbar {
  background-color: #5c5c5c !important;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.container-fluid .navbar-brand {
  color: #ffffff;
}

.navbar {
  background-color: #5c5c5c;
}



.nav-link:hover {
  background-color: #616161;
  color: #79baff;
}

/* content */

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow: hidden;
}

h3{
  text-align: center;
  color:#ffffff;
}

section {
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.container-fluid {
  margin: 0px;
}

.navbar{
  background-color: #5c5c5c;
}

.footer-nav{
display: flex;
justify-content: center;
background-color: #5c5c5c;
}

.principal{
  background-color:#979797;
}

.internal{
  background-color:#c0c0c0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card:hover{
  border-color: #00d9ff;
}

.card:hover{
  font-size: 1.100em;
}

.card:active{
  border-color: #19c79b;
}

.card {
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #e6e6e6;
}